<!-- Footer -->
<footer class=" text-center text-white mt-auto" style="background-color:#2d7fbe;">
  <!-- Grid container -->
  <div class="container p-4">

    <!-- Section: Social media -->
    <section class="mb-4">
     <!-- Linkedin -->
      <a href="https://www.linkedin.com/in/gregory-kaippert-267953180/" target="_blank" class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i class="fa-brands fa-linkedin fa-shake"></i></a>
      <!-- Github -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="#!" role="button"><i class="fab fa-github fa-shake"></i></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © {{ano}} Copyright:
    <a class="text-white" href="#">Desenvolvido por Gregory Carmo</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->